$baseColor: #3E365A;
$themeColor: #4F4869;
$accentColor: #302746;
$linkColor: #6B6682;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  background-color: #000;
  margin: 5px;
  max-width: 100%;
}

h1,
.h1 {
  display: inline-block;
  font-size: 16px;
  color: white;
  line-height: 10px;
}

h2 {
  color: white;
  font-size: 20px;
}

p {
  color: white;
}

.container {
  max-width: 1000px;
  margin: auto;
  background-color: $baseColor;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.titleBar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 25px;
  border-bottom: solid 1px $accentColor;
  z-index: 10;

  &-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    margin-left: 2px;

    &:nth-child(1) {
      background-color: #40DBFB;
    }

    &:nth-child(2) {
      background-color: #FCDD56;
    }

    &:nth-child(3) {
      background-color: #F855A6;
      margin-right: 12px;
    }
  }
}

.flexbox {
  display: flex;

  &-left {
    flex-basis: 240px;
  }

  &-right {
    max-width: 800px;
    width: 100%;
    background-color: $themeColor;
    border-radius: 5px;
  }
}

.serverTitleBlock {
  display: flex;
  height: 32px;
  justify-content: center;
  &-arrow {
    width: 16px;
    height: 16px;
    margin-top: 14px;
    margin-left: 10px;
  }
}

.linkBox {
  min-width: 180px;
  max-width: 300px;
  margin-left: 60px;
  height: 60px;
  &-target {
    display: flex;
    height: 60px;
    margin-top: 20px;
    text-align:center;
    color: white;
    background-color: $linkColor;
    border-radius: 5px;
    border-bottom: none;
    text-decoration: none;
    &_svg {
      width: 30px;
      height: 40px;
      margin: auto 10px;
    }
    &_title {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.chatBox {
  padding: 5px;
}

@media screen and (max-width:1024px) {
  .flexbox {
    display: block;
    &-left {
      display: none;
    }
  }
  .linkBox {
    padding-top: 20px;
    margin: auto;
    margin-bottom: 40px;
  }
}